<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mid Term Project</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="public/styles/layout.css">
</head>
<body>
  <div class="row"><h2>Cart</h2></div>
  <% var total= 0 %>
    <% if(items) { %>

      <% items.forEach( (item) => { %>
  <form action="/cart/<%= item.item_id %>/update" method="POST">
        <% total += item.price * item.quantity %>
        <%= total %>
        <div class="row">
          <div class="column small-12 medium-3">
            <h3> <%= item.name %> </h3>
          </div>
          <div class="column small-12 medium-4">
            <h3 name="quantity"> <%= item.quantity %> </h3>
          </div>
          <div class="column small-12 medium-5">
            <h3> <%= item.price %> </h3>
          </div>
        </div>
      <% }); %>
    <% } %>
    <div class="row">
      <div class="column small-12 medium-3">
          <div class="input-group">
          <input class="input-group-field" type="number" for="button primary">
        </div>
      </div>
      <div class="column small-12 medium-9">
        <h3 name="total">Total: <%= total %> </h3>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 medium-3">
        <!-- <a class="button primary" type="submit">Add to Cart</a> -->
        <!-- <input type="submit" value="Tweet"> -->
        <button type="submit" class="btn btn-default">Checkout</button>
      </div>
      <div class="column small-12 medium-9">
        <a class="button warning" href="/">Cancel</a>
      </div>
    </div>
  </form>
</body>
</html>