<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head.ejs %>
<body>
  <%- include partials/_header.ejs %>
  <div class="container-fluid">
    <span class="center-block">
      <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
          <p><b>McArBy King<br>
          Phone : (604) 401-1234<br>
          Order Date<br>
          Restaurant Address : </br>
          128 W. Hastings. #350 </br>
          Vancouver B.C. Canada </br>
          V6B 1G8</b></p>
        </div>

        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="row">
        <form action="/placeorder" method="POST">
        <fieldset>
          <legend>Checkout</legend>
        <% if(allitems){  %>
          <% allitems.forEach( (item) => {  %>
              <div class="form-group">
                <div class="row">
                  <div class="row col-md-4 form-group">
                    <p>Quantity</p>
                    <p>Item Name</p>
                    <p>Price</p>
                  </div>
                  <div class="row col-md-4 form-group">
                    <p name="quantity"><%= item.quantity %></p>
                    <p><%= item.name %></p>
                    <p><%= item.price %></p>
                  </div>
                </div>
              </div>
              <%          }); %>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstname" >First Name</label>
                  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                  <label for="lastname">Last Name</label>
                  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
                </div>
                <div class="form-group">
                  <span>Total: <p class="form-control" name="total"><%= total %></p></span>
                </div>
              <%        } %>
                <div class="row">
                  <div class="columns large-3">
                    <% if(allitems.length === 0) { %>
                      <p> YOUR CART IS EMPTY </p>
                    <% } else { %>
                  </div>
                  <div class="col-xs-6 col-md-6 col-lg-6">
                    <a href="/" class="btn btn-info" role="button">Cancel</a>
                  </div>
                    <% var total= 0 %>
                    <% if(allitems) { %>
                      <% allitems.forEach( (item) => { %>
                        <% total += item.price * item.quantity %>
                      <% }); %>
                    <% } %>
                    <% total *= 100 %>
          <script
          src="https://checkout.stripe.com/checkout.js";
          class="stripe-button";
          data-key="pk_test_4TgwIgnj8uLaXMyP0V0ULmuz";
          data-amount =<%=total%>;
          data-name = "purchase-items";
          data-discription = "food";
          data-local ="auto";
          data-curruncy ="cad">;
          </script>
          <input type="hidden" name="chargeAmount" value=<%=total%>>
          </fieldset>
          </form>
          <% } %>
          </div>
        </div>
      </div>
    </span>
  </div>
</body>
</html>
