<!DOCTYPE html>
<html lang="en">
<%- include partials/_head.ejs %>
<body>
<%- include partials/_header.ejs %>
<%- include partials/_navbar.ejs %>





<div id="home">
  <div class="home-body">
    <div class="home-container">
      <div class="header-container">
        <h1 class="welcome header"> Welcome </h1>
        <p class="welcome-text"> Welcome to McArby's King. Our goal is to introduce a new twist to the fast food industry, cool right?</p>
        <p> Click to begin your order. </p>
        <button type="button" id="arrow-btn" href="#menu-page" class="btn btn-default" aria-label="Left Align">
          <span class="fa fa-angle-double-down animated" aria-hidden="true"></span>
        </button>
        </a>
    </div>
  </div>
</div>






<!--OPEN-->
<div id= "menu-page" class="row content">
<!--Real Data looping through DB-->
	<ul class="cd-gallery">
		<% if(items) { %>
			<% items.forEach( (item) => { %>
					<li>
						<div class="row">
      			<form id="submit">


						 <div class="cd-single-item">
              <div> <img class="img-responsive center-block" src= "<%= item.img_url %>" alt="Preview image"> </div>
							<div class="cd-customization">
                <div class="size" data-type="select">
									<select name="quantity" id="quantity" class="selectpicker" data-style="btn-warning">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
                </div>
                <button class="add-to-cart" type="submit" > <!-- TODO change hardcoded user value-->
                  <em>Add to Cart</em>
                  <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                    <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                  </svg>
                </button>
              </div> <!-- .cd-customization -->
							<button class="cd-customization-trigger">Customize</button>
            </div> <!-- .cd-single-item -->
        				 <div class="cd-item-info">
							<div class="info-container">
								<div class="item-desc"> <%= item.details %></div>
								<b><a href="#0" class="name"> <%= item.name %></a></b>
								<!--<em> <p class="form-control" name="price" ><%= item.price %></p></em>-->
								<input type="text" class="price" value="<%= item.price %>" readonly>
								<input type="hidden" class="item_id" value="<%= item.id %>" readonly>
							</div> <!-- info-container -->
       				 	</div> <!-- cd-item-info -->
      			</form>
									</div>
        			</li>
        	<% }); %>
      	<% } %>
    </ul>
  </div>
  <%- include partials/_footer.ejs %>
</body>
</html>
